<div class="row"></div>
<div class="col-md-2 col-md-offset-2 border">
    <form name="changePassword">
        <label for="old-password">Old password</label>
        <input type="password"  required="required" ng-model="passwordData.oldPassword" id="old-password" class="form-control" />
        <br />
        <label for="new-password">Password</label>
        <input type="password" required="required" min-length="6" max-length="100" ng-model="passwordData.newPassword" id="new-password" class="form-control" />
        <br />
        <label for="new-password-confirm">Confirm new password</label>
        <input type="password" required="required" min-length="6" max-length="100" ng-model="passwordData.confirmNewPassword" id="new-password-confirm" class="form-control" />
        <br />
        <button class="btn btn-primary" ng-disabled="passwordData.$invalid || passwordData.newPassword != passwordData.confirmNewPassword" ng-click="changePassword(passwordData)">Change password</button>
    </form>
</div>