<div class="page-header">
    <h2>Change password</h2>
</div>
<form class="col-md-4" name="changePassword">
    <div class="form-group">
        <label for="old-password">Old password</label><br>
        <input type="password"  required="required" ng-model="user.oldPassword" id="old-password" class="form-control" />
    </div>
    <div class="form-group">
        <label for="new-password">Password</label><br>
        <input type="password" required="required" min-length="6" max-length="100" ng-model="user.newPassword" id="new-password" class="form-control" />
    </div>
    <div class="form-group">
        <label for="new-password-confirm">Confirm new password</label><br>
        <input type="password" required="required" min-length="6" max-length="100" ng-model="user.confirmNewPassword" id="new-password-confirm" class="form-control" />
    </div>
    <button class="btn btn-primary" ng-disabled="changePassword.$invalid || user.newPassword != user.confirmNewPassword" ng-click="changeUserPassword(user)">Change password</button>
</form>